/* stylesheet for main.php */

h1 {
    text-align: center;
}

.list ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.list ul li {
    display: inline;
}

.list ul li a {
    color: #3a83c4;
    text-decoration: none;
}

.list ul li a:link {
    color: #3a83c4;
    text-decoration: none;
}

.list ul li a:visited {
    color: #3a83c4;
    text-decoration: none;
}

.list ul li a:hover {
    color: #ffea00;
    text-decoration: underline;
}

.list ul li a:active {
    color: #3a83c4;
    text-decoration: none;
}

.search form {
    text-align: center;
}
